<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Examination System</h1>
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-md-6 col-lg-4 push-sm-2 push-md-3 push-lg-4 text-center">
                    <form id="exam-form" action="/exam/new" class="form-signin" method="POST">

                        <select required class="form-control" name="course_id">
                    <option value="" disabled selected>Select Course</option>
                        <% _.each(courses, function(course) { %>
                    <option value="<%= course.id %>"><%= course.name %></option>
                    
                        <% }) %>
                </select>
                        <br>
                        <input type="submit" class="btn btn-lg btn-primary" value="Create Exam">
                    </form>
                    <br>
                    <a class="btn btn-warning" href="/">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>