<!DOCTYPE html>
<html>

<head>
    <title>
        <%=typeof title == 'undefined' ? 'Exam System' : title%>
    </title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <!--<style>
        body {
            overflow: hidden;
            background-image: url('/images/exam.jpg');
            background-attachment: fixed;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>-->
</head>

<body>
    <div class="navbar navbar-inverse bg-inverse">
        <div class="container">
            <a class="navbar-brand" href="/">CITC</a>
            <% if(admin.loggedIn && admin.loggedIn==true){%>
                <a class="float-right btn btn-outline-danger" href="/admin/logout">Logout</a>
                <%}%>
        </div>
    </div>
    <div class="appBody">
        <%- body %>
            <pre>
        
        </pre>
    </div>
    <footer class="footer">
        <br>
        <div class="float-right mr-5">
            <div>
                <span>Copyright&copy; </span><a href="http://citc.mans.edu.eg/en">CITC</a>
                <div>
                    <div>
                        All rights reserved CITC, 2017.
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-3.2.1.js"></script>
    <script src="/js/dependencies/jquery.validate.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/customValidate.js"></script>
    <!--SCRIPTS END-->
</body>

</html>