<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-4 push-sm-2 push-md-3 push-lg-4 text-center">
            <br>
            <div>
                <h2>Adminstration Panel</h2>
                <h3>Add New Question</h3>
            </div>
            <div class="text-left">
                <% if(errorMsg && errorMsg.err) {%>
                    <ul class="alert alert-danger">
                        <% Object.keys(errorMsg.err.invalidAttributes).forEach(function(attribute){ %>
                            <% errorMsg.err.invalidAttributes[attribute].forEach(function(rule){ %>
                                <li>
                                    <%= `${attribute} : ${rule.rule == 'required' ? 'required' : rule.message}` %>
                                </li>
                                <% }); %>
                                    <%});%>
                    </ul>
                    <br>
                    <%}%>
            </div>
            <form id="question-form" action="/course/<%=course.id%>/question" method="POST" class="form-signin">
                <input class="form-control" type="number" name="chapter" placeholder="Chapter no" min="1">
                <input type="text" name="question_head" placeholder="Question head" class="form-control">
                <input type="text" name="answers[0]" placeholder="First Answer (A)" class="form-control">
                <input type="text" name="answers[1]" placeholder="Second Answer (B)" class="form-control">
                <input type="text" name="answers[2]" placeholder="Third Answer (C)" class="form-control">
                <select class="form-control" name="correct_answer">
                    <option value="" disabled selected>Select Correct Answer</option>
                    <option value="0">A</option>
                    <option value="1">B</option>
                    <option value="2">C</option>
                </select>
                <select class="form-control" name="difficulty">
                    <option value="" disabled selected>Select Difficulty</option>
                    <option>Simple</option>
                    <option>Difficult</option>
                </select>
                <select class="form-control" name="objective">
                   <option value="" disabled selected>Select Objective</option>
                    <option>Understanding</option>
                    <option>Reminding</option>
                    <option>Creativity</option>
                </select>

                <input type="hidden" name="course_id" value="<%=course.id%>">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Question">
            </form>
        </div>
    </div>
</div>