<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-push-4">
            <div class="text-left">
                <% if(errorMsg && errorMsg.err) {%>
                    <ul class="alert alert-danger">
                        <% Object.keys(errorMsg.err.invalidAttributes).forEach(function(attribute){ %>
                            <% errorMsg.err.invalidAttributes[attribute].forEach(function(rule){ %>
                                <li>
                                    <%= `${attribute} : ${rule.rule == 'required' ? 'required' : rule.message}` %>
                                </li>
                                <% }); %>
                                    <%});%>
                    </ul>
                    <br>
                    <%}%>
            </div>
            <form action="/question/create" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Create an Account</h2>
                <input type="text" name="question_head" placeholder="question head" class="form-control">
                <input type="text" name="answers[]" placeholder="first answer" class="form-control">
                <input type="text" name="answers[]" placeholder="second answer" class="form-control">
                <input type="text" name="answers[]" placeholder="third answer" class="form-control">
                <input type="text" name="correct_answer" placeholder="correct answer" class="form-control">
                <input type="text" name="difficulty" placeholder="edifficulty level" class="form-control">
                <input type="text" name="objective" placeholder="objective" class="form-control">
                <input type="hidden" name="course_id" value="<%=course.id%>">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Question">
            </form>
        </div>
    </div>
</div>