<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Examination System</h1>
        <h2>Welcome to CITC Examination System.</h2>
        <a href="/student" class="btn btn-lg btn-success">Student</a>
        <a href="/course" class="btn btn-lg btn-success">Professor</a>
    </div>
</div>