<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Examination System</h1>
        <h2>Welcome to CITC Examination System.</h2>
        <a href="/exam" class="btn btn-lg btn-success">Professor</a>
        <a href="/course" class="btn btn-lg btn-success">Admin</a>
    </div>
</div>