<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Welcome to <br> CITC Examination System</h1>
        <br>
        <a href="/exam" class="btn btn-lg btn-success">Professor</a>
        <a href="/course" class="btn btn-lg btn-success">Admin</a>
    </div>
</div>