<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Activity Overlord</h1>
        <h2>...tracking app activity better than the NSA since 1899</h2>
        <a href="/course/new" class="btn btn-lg btn-success">New Course!</a>
    </div>
</div>