<br>
<div class="container text-center">
    <div class="jumbotron">
        <h1>Examination System</h1>
        <h2>Welcome to Our Examination System.</h2>
        <a href="/course/new" class="btn btn-lg btn-success">Student</a>
        <a href="/course/new" class="btn btn-lg btn-success">Professor</a>
    </div>
</div>