<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 push-sm-2 push-xs-2 text-center">
            <br>
            <div>
                <h2>Adminstration Panel</h2>
                <h3>Course Details</h3>
            </div>
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th class="text-center">Course Name</th>
                        <th class="text-center">No. of Chapters</th>
                        <th class="text-center" colspan="2">Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= course.name %>
                        </td>
                        <td>
                            <%= course.chapters %>
                        </td>
                        <td><a class="btn btn-success" href="/course/edit/<%=course.id%>">Edit</a></td>
                        <td>
                            <form action="/course/<%=course.id%>" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input class="btn btn-danger" type="submit" name="" value="Delete">
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>