<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-push-4">
            <form action="/course/create" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Add New Course</h2>
                <input type="text" name="name" placeholder="course name" class="form-control">
                <input type="text" name="chapters" placeholder="chapters" class="form-control">
                <input type="submit" class="btn btn-lg btn-primary btn-block" value="Add Course">
            </form>
        </div>
    </div>
</div>